/*
 * Widths, proportions, and responsive layouts go here
 */
html, body
  height: 100%

body
  margin: 0

section
  position: relative
  overflow: hidden
  width: 90%
  max-width:800px;
  margin-left: auto
  margin-right: auto
  min-height: 100%
  // For the button

#projects .thumbnail
  min-height: 176px
  background-size: cover
  background-position: center

#projects label
  padding: 8px
  display: block
  text-align: center

.spacefill
  height: 128px

.comedown
  width: 64px
  height: 64px
  position: absolute
  left: 50%
  bottom: 32px
  margin-left: -32px

#splash
  h1
    position: absolute
    bottom: 50%
    max-height: 50%;
    margin-bottom: -100px

.list
  br
    display: none
@media (min-width: 800px)
  .list
    >a
      float: left
      display: block
      width: 50%
      >li
        margin-right: 4px
    >a:nth-child(even)
      >li
        margin-right: 0
        margin-left: 4px
    br
      display: initial
      clear: both
  #splash
    h1
      font-size: 2em
