splashColor=#ff5e08
aboutColor=#ffc608
detailColor=#fc0a7a
projectsColor=#8600b7
aboutColor=#ffc608

a
  text-decoration: none
  color: inherit

.list
  list-style: none
  padding: 0
  li
    margin-bottom: 8px

.list.text li
  padding: 8px

#splash
  button.comedown
    background-color: splashColor

#detail
  h1
    border-top: 5px solid detailColor
  button.comedown
    background-color: detailColor

#projects
  h1
    border-top: 5px solid projectsColor
  padding-bottom: 72px;
  button.comedown
    background-color: projectsColor

#about
  h1
    border-top: 5px solid aboutColor
  button.comedown
    background-color: aboutColor

  .list
    li
      background-color: aboutColor
      color: white
    a:active li
      background-color: #eab505


button.comedown
  padding: 0
  border: none
  background-color: inherit
  font-size: 32px
  color: white
  width: 64px
  height: 64px
  position: absolute
  left: 50%
  bottom: 32px
  margin-left: -32px

/*
#8C00BF
#5D007F
#FF006A
#FFC000
#E5F100
*/
