splashColor=#ff5e08
aboutColor=#ffc608
detailColor=#fc0a7a
projectsColor=#8600b7
aboutColor=#ffc608

a
  text-decoration: none
  color: inherit

.list
  list-style: none
  padding: 0
  li
    margin-bottom: 8px

.list.text li
  padding: 8px

.hideable
  display: block
  transition: opacity 400ms

.hidden
  opacity: 0

#splash
  .comedown.projects
    background-color: projectsColor
  .comedown
    background-color: detailColor

#detail
  h1
    border-top: 5px solid detailColor
  .date
    font-style: italic
  article
    blockquote
      :before
        content: open-quote
      :after
        content: close-quote
    a
      color: detailColor
  .comedown
    background-color: projectsColor

#projects
  h1
    border-top: 5px solid projectsColor
  .comedown
    background-color: aboutColor

#about
  h1
    border-top: 5px solid aboutColor

  .list
    li
      background-color: aboutColor
      color: white
    a:active li
      background-color: #eab505

.comedown
  display: block
  padding: 0
  border: none
  background-color: inherit
  color: white

