splashColor=#5082ef
aboutColor=#ffc608
detailColor=#fc0a7a
projectsColor=#8600b7
aboutColor=#ffbd08
@keyframes pulsate
  from
    background-color: detailColor
  to
    background-color: #ff5690

a
  text-decoration: none
  color: inherit

h1
  margin-bottom: 1.5em

.list
  list-style: none
  padding: 0
  li
    margin-bottom: 8px

.list.text li
  padding: 8px

.hideable
  display: block
  transition: opacity 400ms

.hidden
  opacity: 0

#splash
  h1
    font-weight: 100
    line-height: 2em
    .myname, .myself, .myprojects, .myproject
      color: white
      padding: 2px 12px
      transition: width
      cursor: pointer
    .myname
      background-color: splashColor
    .myself
      background-color: aboutColor
    .myprojects
      background-color: projectsColor
    .myproject
      background-color: detailColor

  .comedown.projects
    background-color: projectsColor
  .comedown
    background-color: detailColor

#detail
  h1
    border-top: 5px solid detailColor
  .date
    font-style: italic
  .list
    li
      background-color: detailColor
      color: white
    a:first-child>li
      -webkit-animation: pulsate 1s infinite alternate
      -moz-animation: pulsate 1s infinite alternate
      animation: pulsate 1s infinite alternate
    a:active>li
      background-color: #b10956
      -webkit-animation: none
      -moz-animation: none
      animation: none

  article
    blockquote
      :before
        content: open-quote
      :after
        content: close-quote
    a
      color: detailColor
  aside
    img
      width:100%
      margin-bottom: 8px
  .comedown
    background-color: projectsColor

#projects
  h1
    border-top: 5px solid projectsColor
#projectlist
  a:hover>li:before, a:active>li:before
    background-color: transparent
  li
    position: relative
  li:before
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: projectsColor
  .comedown
    background-color: aboutColor

#about
  h1
    border-top: 5px solid aboutColor

  .list
    li
      background-color: aboutColor
      color: white
    a:active li
      background-color: #eab505

.comedown
  display: block
  padding: 0
  border: none
  background-color: inherit
  color: white

