#splash {
  position: relative;
  /*  margin-bottom: 200px;*/
  text-align: center;
  background-position: center;
  background-size: cover;
  margin-bottom: 200px;
}
#splash h1 {
  margin-top: -24px;
  margin-bottom: 8px;
  font-weight: 200;
  font-size: 40px;
}
#comedown {
  position: absolute;
  bottom: 0;
  top: 80%;
  left: 0;
  right: 0;
  /*  background-image: linear-gradient(rgba(255, 255, 255, 0.0) 60%, rgba(255, 255, 255, 1.0));*/
  text-align: center;
}
#backdrop {
  position: fixed;
  z-index: -1000000;
}
#backdrop,
#backdrop canvas {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
#backdrop canvas {
  position: absolute;
}
@media (min-width: 550px) {
  #splash {
    font-size: 24px;
  }
  #splash h1 {
    font-size: 40px;
  }
}
@media (min-width: 1100px) {
  #splash {
    font-size: 24px;
  }
  #splash h1 {
    margin-top: -40px;
    font-size: 48px;
  }
}
