#splash {
  position: relative;
  /*  margin-bottom: 200px;*/
  text-align: center;
  background-image: url(Backdrop.png);
  background-position: center;
  background-size: cover;
}
#splash img {
  margin-top: -192px;
  width: 192px;
  height: 192px;
}
#splash h1 {
  margin-top: -24px;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 40px;
}
#splash /deep/ .quoteholder {
  width: 192px;
  text-align: center;
  margin: 0 auto;
}
#comedown {
  position: absolute;
  bottom: 0;
  top: 80%;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.0) 60%, rgba(255, 255, 255, 1.0));
  text-align: center;
}
@media (min-width: 550px) {
  #splash {
    font-size: 24px;
  }
  #splash img {
    margin-top: -248px;
    width: 256px;
    height: 256px;
  }
  #splash h1 {
    font-size: 40px;
  }
  #splash /deep/ .quoteholder {
    width: 400px;
  }
}
@media (min-width: 1100px) {
  #splash {
    font-size: 24px;
  }
  #splash img {
    margin-top: -272px;
    width: 280px;
    height: 280px;
  }
  #splash h1 {
    margin-top: -40px;
    font-size: 48px;
  }
  #splash /deep/ .quoteholder {
    width: 600px;
  }
}
