:host {
  padding: 0 4px 30px 4px;
  min-height: 100%;
  font-size: 14pt;
  display: none;
}
:host > h1 {
  text-align: center;
  font-weight: 100;
  font-size: 24pt;
  margin: 10px 0 0 0;
  /*
    background-image: radial-gradient(at 50% 0%, rgba(0, 0, 0, 0.78), rgba(34, 33, 33, 0.5));
    color: white;
  */
}
:host > h2 {
  text-align: center;
  font-weight: 200;
  font-size: inherit;
  margin: 0 0 20px 0;
}
.images,
.links {
  padding: 0;
}
:host > ul > li,
:host > ol > li {
  list-style: none;
}
.images {
  white-space: nowrap;
  overflow-y: auto;
}
.images img {
  width: 100%;
}
.images > li {
  display: inline;
}

.links paper-button {
  text-align: center;
  margin: 5px 0;
  display: block;
  font-size: 18pt;
  background-color: #555555;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.links li:first-of-type paper-button{
  background-color: #009ef8;
}
/*
.links > li:first-of-type > a:hover {
  background-color: #58caff;
}
.links > li:first-of-type > a:active {
  background-color: #0078bc;
}
*/

.tags {
  padding: 0;
  line-height: 40px;
  margin-bottom: 0;
}
.tags > li {
  font-size: 12pt;
  display: inline;
  padding: 5px;
  margin-right: 2px;
  background-color: #dedede;
}
